
@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/Home.css" rel="stylesheet" />

<div id="home">
    <h1>Blackboard</h1>
    In this system Lecturers are able to post announcement and comments on the announcements.
    Also students are able to post comments on the announcements. This product is made by using
    ASP.NET using the MVC( Model, View, Controller) design pattern.
</div>

<div id="logo">
    <img src="https://upload.wikimedia.org/wikipedia/en/1/1d/Swansea_University_logo.png" alt="Swansea University" style="width:420px;height:278px;" />
</div>